Body {
  background-color:#FFFFFF;
  color: 003366; 
  font-family: Arial;
} 

header {
  background-color: #003366;
  color: #F0F0F0;
  font-family: 'Times New Roman', Times, serif; 
  background-image: url(fishcreeklogo.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

h1 {
  text-indent: 1em;
  line-height: 250%;
}

nav {
  text-align: center;
  background-color: #5280C5;
  padding: 5px;
  color: aqua;
  font-weight: bold;
}

dt {
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
 font-family: 'Times New Roman', Times, serif; 
}

.configuration {
  color: #5380C5;
  font-family: 'Times New Roman', Times, serif;
 text-shadow: 1px 1px 1px #667;
}

footer {
  size: 0.7em;
  font-weight: italic;
  background-color:  #AEC3E3;
  text-align: center;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;
  min-width = 700px;
}

img {
  border: 0px;
}

