Body {
  background-color:#FFFFFF;
  color: 003366; 
  font-family: Arial;
} 

header {
  background-color: #003366;
  color: #AEC3E3;
  font-family: 'Times New Roman', Times, serif; 
}

h1 {
  text-indent: 1em;
  line-height: 200%;
}

nav {
  color: aqua;
  font-weight: bold;
}

dt {
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
 font-family: 'Times New Roman', Times, serif; 
}

.congiguration {
  color: #5380C5;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  size: 0.7em;
  font-weight: italic;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;
}


